services:
  postgres:
    image: postgres:16-alpine
    container_name: recipebook-db
    environment:
      POSTGRES_DB: recipebook
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
